/*-- scss:default --*/ 

// import google font
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Ribeye&display=swap');

//* /* ctrl shift c comment all stuff
// color
$jadegreen: #14A664 
$bondiblue: #0095B6
$Aliveblue: #F0F8FF
$Aerospaeorange: #FF4F00

// define wuarto variables
$body-bg: $Aliceblue;
$navabat-bg: $cream;
$navabar-fg: 
$navabar-hl:

$link-color:

/*-- scss:rules --*/ 
h1, h2, {
  letter-spacing: 5px;
  font-weight: 800;
}

.title{
  color: Aerospaeorange;
}

.center-text {
  text-align: center;
}


.orange-text {
  color: bondiblue;
}
]