/*-- scss:default --*/ 

// import google font
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Ribeye&display=swap');

//* /* ctrl shift c comment all stuff
// Color
// define Sass vars
$jadegreen: #14A664 
$bondiblue: #0095B6
$Aliveblue: #F0F8FF
$Aerospaeorange: #FF4F00

// can define values with units, e.g. $my-font-size: 25px;

// Base document colors/define quarto variables
$navbar-bg:  // navbar
$navbar-fg:  // navbar foreground elements
$navbar-hl:  // highlight color when hovering over navbar links
$body-bg:  // page background 
$body-color:  // page text 
$footer-bg:  // footer 
$link-color:  // hyperlinks 

// Inline code
$code-bg:  // inline code background color
$code-color: // inline code text color

/*-- scss:rules --*/ 
h1, h2, {
  letter-spacing: 5px;
  font-weight: 800;
}

.title{
  color: Aerospaeorange;
}

.center-text {
  text-align: center;
}


.orange-text {
  color: bondiblue;
}
]